h1{
    font-size: 3rem;
    padding: 1px;
}

h3{
    
    padding: 2px;
}

.forecast-div {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:90vw;
    height:100vh
  }

.weather-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height:18vh;
    text-align: left;
    
}

.city-div{
    text-align: left;
    margin-right: 20px;
}


.weather-div{
    margin-right: 25rem;
    width: 100%;
}

.display-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin:10px auto;
    width: 100%;
}

.visual-div{
    margin: 3px auto;
    border: 2px solid black;
    height: 30vh;
    width: 100%;
    background-color: white;
}

.link{
    width: 10%;
    margin: 30px auto;
    background-color: white;
}