h1{
    font-size: 2.3rem;
    padding: 1px;
}

h3{
    font-size: 0.9rem;
    padding: 2px;
}

.forecast-div, .loading, .weather-details,.display-div, .link{
    display: flex;
}

.loading,.link{
    justify-content: center;
}

.forecast-div {
    flex-direction: column;
    text-align: center;
    width:88vw;
    height: 100%;
    margin-top: 3rem;
  }

.loading{
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.weather-details{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: left;
}

.city-div{
    text-align: left;
    margin-right: 20px;
}


.weather-div{
    margin-right: 25rem;
    width: 100%;
}

.display-div{
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin:10px auto;
    width: 100%;
}

.visual-div{
    margin: 10px auto;
    width: 700;
}

.link{
    align-items: center;
    margin: 5px auto;
}