.home-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:70vw;
    height: 100%;
  }
  
  .search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 4rem;
  
  }

  .switch-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
    margin: 23px 0 40px 0;
  }

.searchHistory-div{
  height: 45vh;
}


  
